/* 
    Document   : custom-css
    Created on : May 30, 2014, 4:09:53 PM
    Author     : Haris
    Description:
        Purpose of the stylesheet follows.
*/

.map-controls-div{
	position: absolute;
	width: 360px;
	height: 250px;
}

.map-controls-wrapper{
	margin-top: 206px;
	margin-left: 10px;
	display: none;
}

.map-plus-button{
	background: url('../images/hash_plus_small.png');
	width: 20px;
	height: 18px;	
}

#mapImage{
	width:347px;
	height:200px;
	border-radius: 5px;
}

.map-plus-button:active{
	background: url('../images/hash_plus_p_small.png');
}

.map-minus-button{
	background: url('../images/hash_minus_small.png');
	width: 20px;  
	height: 18px;
}
.map-minus-button:active{
	background: url('../images/hash_minus_p_small.png');
}

.declineTicketButton {
	position:absolute;
	border: 0;
	cursor: pointer;
	z-index: 1;
	background-color: #606060;
	border-radius: 10px;
	width: 50px;
	height: 17px;
	font-size: 10px;
	color: #FFFFFF;
	line-height: 17px;
	text-align: center;
}

.declineTicketButton:hover {
	background-color: #454545;
}

.declineTicketButton:active {
	background-color: #303030;
}

.hotComplaintButton {
	position: absolute;
	border: 0;
	cursor: pointer;
	z-index: 1;
	background-color: #606060;
	border-radius: 10px;
	width: 80px;
	height: 17px;
	font-size: 10px;
	color: #FFFFFF;
	line-height: 17px;
	text-align: center;
	margin-top: 20px;
}

.hotComplaintButton:hover {
	background-color: #454545;
}

.hotComplaintButton:active {
	background-color: #303030;
}

.cms-loader-left-div {
	position: absolute;
	padding-top: 200px;
	margin-left: 120px;
	left: 0;
	display: none;
}

.cms-loader-center-div {
	position: absolute;
	padding-top: 200px;
	margin-left: 455px;
	left: 0;
	display: none;
}

.cms-loader-right-div {
	position: absolute;
	padding-top: 200px;
	margin-right: 120px;
	right: 0;
	display: none;
}

.complaints-list-wrapper .list-left-wrapper .mCSB_container .list-item{
	padding: 3px 0px 3px 0px;
	margin: 0 0 7px 0;
	cursor: pointer;
}

.complaints-list-wrapper .list-right-wrapper .mCSB_container .list-item{
	padding: 3px 0px 3px 0px;
	margin: 0 0 7px 0;
	cursor: pointer;
}
.customer-complaint-details-wrapper .complaint-detail-label-wrapper .regular-lucida-bold{
	font-size: 10px;
}
.notification-bar-wrapper {
	cursor: pointer;
	z-index: 1600;
}
.form-element-body .dropdown-acw-element {
    z-index: 1000;
    width: 136px;
    height: 22px;
}

#divCurrentHandset_bg {
	word-wrap: break-word;
	width: 175px;
}
#divCurrentHandset {
	width: 105px;
	word-wrap: break-word;
}

#divPreviousHandset_bg {
	word-wrap: break-word;
	width: 175px;
}
#divPreviousHandset {
	width: 105px;
	word-wrap: break-word;
}

.sop-search-field {
	background-color: grey;
    border: none;
    color: #FFF;
    margin: 5px 0px 0px 0px;
    width: 317px;
    padding: 2px 5px;
    font-size: 12px;
}

.sop-pop-div{
	width: 326px;
	height: 129px;
	overflow-y: auto;
	overflow-x: hidden;
}

.sop-link-div:hover{
	background-color: grey;
}

.tree-view-div select {
	width: 165px;
	background: transparent;
	border: none;
	border-bottom: 1px solid white;
	/*color: white;*/
	color: grey;
	margin-bottom: 5px;
}

.tree-view-div select option {
	color: black;
}

#_superCardActive > .body > #superCardHolder > table > tbody > tr > td  {
    padding: 2px 3px;
}