h2 {
	font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
}
h3 {
	font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}
h4 {
	font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
}
.drop-shadow {
	text-shadow: 0px 1px 2px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=1);
}
.smallest-body-lucida-white-italic {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 8px;
	color: #FFFFFF;
	font-style: italic;
}
.smallest-body-lucida-light-grey {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 8px;
	color: #a7a9ac;
}
.small-body {
	font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	font-size: 0.563em;
	color: #626262;
}
.small-body-lucida {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 9px;
	color: #666666;
}
.small-body-lucida-white {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 8px;
	color: #FFFFFF;
}
.small-10-body-lucida-white {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.small-10-body-lucida-grey {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 10px;
	color: #808080;
}
.small-body-lucida-white-italic {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 9px;
	color: white;
	font-style: italic;
}
.small-body-lucida-white-bold {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
}
.small-body-lucida-light-grey-bold {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 10px;
	color: #b1b1b1;
	font-weight: bold;
}
.regular-body-lucida-light-grey {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 11px;
	color: #a3a3a3;
	line-height: 13px;
}

.regular-body-lucida-white {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 13px;
}
.regular-body-lucida-uppercase-white {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 13px;
	text-transform: uppercase;
}

.regular-lucida {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}

.regular-lucida-9 {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}

.regular-lucida-italic {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	font-style: italic;
	line-height: 11px;
}
.regular-lucida-italic-grey {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 10px;
	color: #b8b8b8;
	font-style: italic;
}
.small-lucida-italic {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 8px;
	color: #b8b8b8;
	font-style: italic;
}

.small-lucida-italic-yellow {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 8px;
	color: #ffd200;
	font-style: italic;
}
.regular-lucida-bold {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
}
.regular-lucida-bold-11 {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
}
.regular-lucida-yellow {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 12px;
	color: #ffd200;
}
.regular-lucida-yellow-14 {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 14px;
	color: #ffd200;
}
.regular-lucida-yellow-caps-14 {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 14px;
	color: #ffd200;
    text-transform: uppercase;
}
.regular-lucida-bold-yellow {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 12px;
	color: #ffd200;
	font-weight: bold;
	text-transform: uppercase;
}
.big-bold-lucida-white {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
}

.big-lucida-white {
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 21px;
	color: #FFFFFF;
}
.h0-lucida-white {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
}

.h0-lucida-yellow-18 {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 18px;
	color: #ffd200;
}
.h0-lucida-yellow-withshadow {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 18px;
	color: #ffd200;
	text-shadow: 0px 1px 2px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=1);
}
.h1-lucida-bold-yellow {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 16px;
	color: #ffd200;
	font-weight: bold;
}
.h2-lucida-bold-white {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
}
.h0-arial-yellow {
	font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	font-size: 43px;
	color: #ffd200;
	font-weight: bold;
}
.h1-arial-white {
	font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	font-size: 24px;
	color: #FFFFFF;
}
.regular-body {
	font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	/*font-size: 0.625em;*/
	font-size: 0.925em;
	color: #626262;
}

.regular-body-blue {
	font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	font-size: 0.625em;
	color: #487dc6;
}

.regular-body-white {
	font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	/*font-size: 0.625em;*/
	font-size: 0.925em;
	color: #FFFFFF;
}
.regular-body-white-bold {
	font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.regular-body-italic {
	font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	font-size: 10px;
	color: #6d6e71;
	font-style: italic;
}
.regular-body-light-grey {
	font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	font-size: 0.625em;
	color: #777777;
}

.regular-body-light-blue {
	font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	font-size: 0.625em;
	color: #6499e1;
}
.small-body-italic {
	font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
	font-style: italic;
}
.regular-body-12 {
	font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	font-size: 12px;
	color: #8f8f8f;
}
.regular-body-light-grey {
	font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	/*font-size: 0.625em;*/
	font-size: 0.925em;
	font-weight: bold;
	color: #818181;
}
.regular-lucida-bold-yellow-10 {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 10px;
	color: #ffd200;
	font-weight: bold;
	text-transform: uppercase;
}